@page
@model Portfolio.Pages.CVModel
@{
    @ViewData["Title"] = "CV";
}

<div class="text-center text-white">
    <h1 class="display-4 fw-bold">Antun's CV</h1>
    <p>Take a look at my CV.</p>
    <div class="">
        <object data="~/atkalcec_CV.pdf" type="application/pdf" width=1000 height=800>
            alt : <a href="~/atkalcec_CV.pdf">Antun's CV</a></object>
    </div>
</div>