@page
@model Portfolio.Pages.CVModel
@{
    ViewData["Title"] = "CV";
}

<div class="text-center text-white">
    <h1 class="display-4 fw-bold">Antun's CV</h1>
    <p>Take a look at my CV.</p>
    <div class="container">
        <object data="~/atkalcec_CVnew.pdf" type="application/pdf" width=1000 height=800>
            Download if on mobile: <a href="~/atkalcec_CVnew.pdf">Antun's CV</a></object>
    </div>
</div>