@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center text-white justify-content-evenly">
    <h1 class="display-4 fw-bold">Welcome</h1>
    <p>My name is Antun.</p>
    <div class="">
        <img src=~/Me2.jpeg class="mb-xl-5 m-auto align-self-center w-25"/>
        <p>I'm a student at Faculty of Organization and Informatics' "Data bases and knowledge bases" graduate study programme.</p>
    </div>
    <div class="">
        <p>This simple webpage should give you some insight into my interests, education, hobbies, projects and, most importantly,
            work experience. Take a look at the <b>Projects</b> tab to see what I've been up to so far, or click the <b>CV</b> link to look 
            at my <i>Curriculum vitae</i>.
        </p>
    </div>
</div>
