@page
@model Portfolio.Pages.ProjectsModel
@{
    @ViewData["Title"] = "Projects";
}

<div class="text-center text-white">
    <h1 class="display-4 fw-bold">Antun's projects</h1>
    <p>A list of the projects I've worked on will be displayed here.</p>
</div>