@page
@model Portfolio.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<div class="text-center text-white">
    <h1 class="display-4 fw-bold">Antun's projects</h1>
    <p>A list of the projects I've worked on will be displayed here.</p>
</div>

<div class="row justify-content-evenly mt-5">
    <div class="card mb-5" style="width: 18rem;">
        <img src="~/Logo.png" class="card-img-top" alt="WareHome logo">
      <div class="card-body">
        <h5 class="card-title">WareHome</h5>
        <p class="card-text">WareHome was a Windows.Forms project that provided me with some experience in C# and documenting a software product.
            It is where I fell in love with C# and object-oriented programming.
        </p>
        <a href="https://github.com/foivz/pi21-atkalcec-khabdija-kstrucic" class="btn btn-primary">GitHub</a>
      </div>
    </div>

    <div class="card mb-5" style="width: 18rem;">
        
      <div class="card-body">
        <h5 class="card-title">Uni project - HTML, CSS, JS, PHP</h5>
        <p class="card-text">Third year of university - a project made using HTML, CSS, JS and PHP. Working on it provided me with basic 
            knowledge in web design and programming.
        </p>
        <a href="https://github.com/AntunTkalcec/WebDiP-projekt" class="btn btn-primary">GitHub</a>
      </div>
    </div>

    <div class="card mb-5" style="width: 18rem;">
        <img src="~/AppIcon.png" class="card-img-top w-25" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dama Pije Sama</h5>
        <p class="card-text">Did you know I published an app on the Google Play Store? It was made as a personal fun project in Xamarin.Forms, 
            and sparked my interest in mobile development. 
        </p>
        <a href="https://github.com/AntunTkalcec/Dama-pije-sama-v2" class="btn btn-primary">GitHub</a>
        <a href="https://play.google.com/store/apps/details?id=atkalcec.Dama_Pije_Sama" class="btn btn-primary">Play Store</a>
      </div>
    </div>

    <div class="card mb-5" style="width: 18rem;">
        
      <div class="card-body">
        <h5 class="card-title">This portfolio</h5>
        <p class="card-text">This portfolio page serves two purposes: for you to get to know me a little, and for me to try out web development 
            using ASP.NET. I made this portfolio from scratch using a technology I've never used before. Clearly I have a lot to learn ;)
        </p>
        <a href="https://github.com/AntunTkalcec/Portfolio" class="btn btn-primary">GitHub</a>
      </div>
    </div>
</div>

<div class="text-center text-white mt-xxl-5">
    <p>There's quite a few more projects that I've worked on but might not be as notable, so make sure to look at my GitHub or CV.</p>
</div>